hr{
    border-style:dotted none none none;
    height:0px;
    width:10%;
    border-color:grey;
    border-width:5px;
    
}
body{
    background-color:azure;
}
h1,h2{
    color:#002B5B;
    font-family:'Courier New', Courier, monospace;
    margin-left:3px;
}
h2:hover,h1:hover{
    color:grey;
    
    
}
img{
    border-radius:100%;
}
